*.s
*.o
*.a
*.core
core
*.pdb

# binaries
cmd/bitpdb
cmd/diffcode
cmd/genpdb
cmd/verifypdb
cmd/reducepdb
cmd/parsearch
cmd/pdbstats
cmd/pdbsearch
cmd/puzzlegen
test/hitanalysis
test/indextest
test/pdbcount
test/qualitytest
test/rankcount
test/ranktest
util/rankgen

# generated source files
ranktbl.c
