*.s
*.o
*.a
*.core
core
*.pdb

# binaries
cmd/diffcode
cmd/genpdb
cmd/verifypdb
cmd/reducepdb
cmd/pdbstats
cmd/pdbsearch
cmd/puzzlegen
cmd/rankcount
test/hitanalysis
test/indextest
test/parsearch
test/qualitytest
test/ranktest
util/rankgen

# generated source files
ranktbl.c
