*.s
*.o
*.a
*.core
core
*.pdb

# binaries
cmd/bitpdb
cmd/compilefsm
cmd/diffcode
cmd/etacount
cmd/genloops
cmd/genpdb
cmd/verifypdb
cmd/parsearch
cmd/pdbcount
cmd/pdbmatch
cmd/pdbquality
cmd/pdbstats
cmd/pdbsearch
cmd/puzzledist
cmd/puzzlegen
cmd/randompdb
test/bitpdbtest
test/etatest
test/explore
test/hitanalysis
test/indexbench
test/indextest
test/morphtest
test/qualitytest
test/rankcount
test/ranktest
test/samplegen
test/statmerge
test/walkdist
util/rankgen

# generated source files
ranktbl.c
